 body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  background-image: url("img/white-background.png");
  background-position: top center;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
}

p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #32425c;
}

.main-header {
  background-color: #f4f7f9;
}
.main-header-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.main-header-logo:hover {
  background-color: #ca2c37;
  box-shadow: #9a212a;
}
.main-header-logo:active {
  background-color: #ba2732;
  box-shadow: #8e1e26;
}
.main-header-search {
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.main-header-order {
  background-color: #63a63e;
}
.main-header-order a {
  width: 108px;
  font-size: 17px;
  color: #ffffff;
}
.main-header-order:hover {
  background-color: #5fbb2d;
}
.main-header-order:active {
  background-color: #518534;
}
.main-header-slogan {
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}
.main-header-address {
  width: 250px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}
.main-header-phone {
  width: 144px;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #ee3643;
  border: solid 3px #ffffff;
}

.login-link {
  width: 121px;
  color: #000000;

  background-color: #ffffff;
}
.login-link:hover {
  color: #ee3643;
}
.login-link:active {
  color: #b2b2b2;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #1d2739;
}
 .site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #293449;
}

.user-navigation {
  color: #000000;
}

.slider ul {
  list-style: none;
}
.slider li:first-child {
  width: 300px;
  background-color: #ffbf47;
}
.slider li:nth-child(2) {
  width: 300px;
  background-color: #3bbce3;
}
.slider li:nth-child(3) {
  width: 300px;
  background-color: #dc91d8;
}
.slider li:nth-child(4) {
  width: 300px;
  background-color: #8ed78f;
}
.slider li:last-child {
  width: 300px;
  background-color: #ffc047;
}
.slider-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}
.slider-text-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #e5e5e5;
  /*opacity: 10%;*/
}
.slider-image span {
  width: 94px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
  color: #ffffff;

  text-transform: uppercase;
}
.slider-image p {
  width: 143px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;

  text-transform: uppercase;
}
.slider-image a {
  width: 101px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}
.slider-image a:hover {
  text-transform: uppercase;
  background-color: #ca2c37;
}
.slider-image a:active {
  text-transform: uppercase;
  background-color: #ba2732;
}

.popular-fields h2 {
  width: 940px;
  background-color: #f9f5f0;
  text-transform: uppercase;
}
.popular-fields a {
  width: 143px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #ee3643;
}
.category-fields {
  width: 940px;
  background-color: #f2f6f8;
  text-transform: uppercase;
}
.account-field {
  width: 183px;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;

  background-color: #f4f7f9;
}
.account-order,
.account-personal {
  width: 75px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #32425c;

  text-decoration: underline;
}

.item {
  width: 220px;
  border: solid 1px #eaeaea;

  background-color: #ffffff;
}
.item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.item-buy {
  width: 41px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #367315;
}
.item-buy:hover {
  background-color: #5fbb2d;
  box-shadow: 0 3px 0 0 #367315;
}
.item-buy:active {
  background-color: #518534;
}
.item-bookmarks {
  width: 67px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #32425c;

  border: solid 3px #63a63e;
}
.item-bookmarks:hover {
  width: 135px;
  border: solid 3px #32425c;
}
.item-bookmarks:active {
  width: 135px;
  opacity: 30%;
  border: solid 3px #32425c;
}

.companies {
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;

  background-color: #ffffff;
  background-position: center;

  list-style: none;
}
.companies:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.companies:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services {
  width: 1200px;
  background-color: #f4f7f9;
}
.services h2 {
  color: #000000;
  text-transform: uppercase;
}
.services-navigation {
  list-style: none;
}
.services-nav-fields {
  width: 78px;
  font-size: 21px;
  font-weight: 700;
  line-height:30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
}
.services-nav-fields:hover {
  background-color: #293449;
}
.services-nav-fields:active {
  color: #32425c;
  background-color: #ffffff;
}

.title {
 width: 142px;
 font-size: 36px;
 font-weight: 400;
 line-height: 36px;
 text-align: left;
 color: #32425c;

 text-transform: uppercase;
}

.about-company h2 {
  color: #000000;
  text-transform: uppercase;
}

/*.indicator {
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  list-style-type:;
}*/

.detailed {
  width: 139px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #ee3643;
}

.write-us {
  width: 178px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #ee3643;
}

.credit-button {
  width: 107px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #ff5357;
}

.footer-contacts-back {
  width: 1200px;
  background-color: #293449;
}
.footer-nav-back {
  width: 1200px;
  background-color: #32425c;
}
.footer-logo {
  width: 220px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.footer-address,
.footer-address a {
  width: 322px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}
.footer-navigation {
  list-style: none;
}
.footer-main-nav {
  width: 69px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #f1f5f7;
}
.footer-nav {
  width: 79px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffd180;
  list-style: none;
}

.copy-right {
  width: 228px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.socials a {
  width: 42px;
  background-color: #212a3a;
}
.socials a:hover {
  background-color: #ee3643;
}
.socials a:active {
  background-color: #ee3643;
}
.socials ul {
  list-style: none;
}

.lower-footer-fields p {
  color: #ffffff;
}
.lower-footer-fields a {
  width: 135px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
}
.lower-footer-fields a:hover {
  text-decoration: underline;
}
.lower-footer-fields a:active {
  text-decoration: none;
  color: #ee3643;
}
.catalog-navigation li {
  width: 53px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.line-through {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
.visually-hidden {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*.item-button {
  background-image: url(item-button.svg);
}*/
